:root {
    --background: #141617;
    --text-primary: #ddc7a1;
    --text-secondary: #a89984;
    --accent: #89b482;
    --accent-hover: #80a688; 
    --border: #1d2021;
    --shadow: 7px 15px 13px -4px #00000056;
}

[data-theme='light'] {
    --background: #f9f5d7;
    --text-primary: #1d2021;
    --text-secondary: #141617;
    --accent: #4c7a5d;
    --accent-hover: #598e6c; 
    --border: #f3eac7;
    --shadow: 7px 15px 13px -4px #ffffff1b;
}