@import url("./styles/fonts.css");
@import url("./styles/_global-overrides.scss");
@import "pixel-retroui/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	margin: 0 auto;
	text-align: center;
}